# Copia este archivo como .env y completa los valores reales.
NATS_SERVERS="nats://localhost:4222"

# Ajusta el nombre de la base si ya la venias usando distinto en tu Mac
MONGO_URL="mongodb://localhost:27017/lifetrack_mongo_user"
